<header class="navbar">
  <a href="#" class="logo">Logo</a>

  <form action="#" class="search">
    <input type="text" />
    <button><i class="fa-solid fa-magnifying-glass"></i> Search</button>
  </form>

  <nav class="nav-items">
    <a href="/garden">Home</a>
    <a href="/garden/plants">Plant Directory</a>
    <a href="/garden/about">About</a>
    <a href="#">Services</a>
    <a href="/user/login">Login/SignUp</a>
  </nav>

  <input type="checkbox" id="check" />
  <label for="check" class="icons">
    <i class="fa-solid fa-bars"></i>
    <i class="fa-solid fa-xmark"></i>
  </label>
</header>
