.box {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-1 {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin: 2rem 10%;
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%) scale(1.5);
  transition: all 1.5s ease;
}

.hero-1 h1 {
  font-size: 6rem;
}

.hero-1 h3 {
  font-size: 2rem;
  font-weight: 300;
}

.hero-1-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.hero-1-btns a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Button Styles */

.btn {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.btn:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

-btn:active {
  color: #000;
}

.btn:active:after {
  background: transparent;
}

.btn:hover:before {
  opacity: 1;
}

.btn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* Hero-2 Styles */

.hero-2 {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem 10%;
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100%) scale(0.8);
  transition: all 2s ease;
}

.hero-2 h1 {
  align-self: flex-start;
}

.featured-plants {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  flex-wrap: wrap;
}

.featured-plant {
  height: 12rem;
  width: 10rem;
  background: whitesmoke;
  color: #000;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.2s ease-in;
}

.featured-plant:hover {
  transform: scale(1.15);
  cursor: pointer;
}

.hero-2-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: white;
}

/* Hero-3 Styles */

.hero-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  flex-wrap: wrap;
  color: white;
  margin: 2rem 10%;
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%) scale(0.8);
  transition: all 1.5s ease;
}

.hero-3-left {
  flex-basis: 40%;
  background-size: cover;
  background-position: center;
}

.hero-3-left img {
  border-radius: 1rem;
  width: 100%;
}

.hero-3-right {
  flex-basis: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.7rem;
}

.hero-3-right h1 {
  font-size: 3.5rem;
}

.hero-3-right p {
  line-height: 1.5rem;
  font-size: 0.9rem;
  font-weight: 600;
}

/* Hero Animations */

.hero-1-show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0) scale(1);
}

.hero-2-show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0) scale(1);
}

.hero-3-show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0) scale(1);
}

@media (prefers-reduced-motion) {
  * {
    transition: none;
  }
}
