.show {
  height: fit-content;
  padding: 5rem 2rem;
}

.show-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  color: #fff;
  padding: 2rem 0;
}

.show-1-left {
  padding: auto;
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  width: 40rem;
}

.carousel-item {
  height: 25rem;
}

.carousel-item img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.show-1-right {
  flex-basis: 40%;
  font-size: 1.35rem;
}

.show-1-right p {
  margin-bottom: 1.3rem;
}

.show-1-right a {
  text-decoration: none;
  border: 2px solid white;
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 20px;
  background-color: rgb(28, 211, 28);
}

.show-description {
  color: white;
  margin: 1rem 2rem;
  font-size: 1.35rem;
}

.show-description p {
  margin-left: 1rem;
}

.multimedia {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.multimedia iframe {
  border-radius: 10px;
}

.show-2 {
  color: white;
  margin: 1rem 2rem;
  font-size: 1.35rem;
}

.show-2 p {
  margin-bottom: 1.3rem;
  margin-left: 1rem;
}
