<% layout("/layouts/boilerplate.ejs") -%>
<div
  class="box"
  style="
    background-image: url(https://images.unsplash.com/photo-1476553986076-d59060d397e4?q=80&w=1832&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  "
>
  <div class="login-card">
    <h1>Login</h1>
    <form action="/get">
      <label for="email">Email Id</label>
      <input type="email" name="email" id="email" />
      <label for="password">Password</label>
      <input type="password" name="password" id="password" />
      <button class="btn login_signup-btn" type="submit">
        Login &nbsp;<i class="fa-solid fa-arrow-right"></i>
      </button>
    </form>
    <a href="/user/signup">New User? SignUp</a>
  </div>
</div>
